/* regola di reset */
*{
    box-sizing: border-box;
}
/* 


/* logo */
.logo{
    vertical-align: middle;
    margin-bottom: 20px;
}
/* fine logo */


/* testo logo */
.logo-text{
    display: inline-block;
    font-size: bold;
    margin-bottom: 20px;
    font-family: sans-serif;
}
/* fine testo logo */


/* nav */
nav{
    padding: 0px 0px 20px 0px;
}
/* fine nav */


/* main */
main{
    background-color: #f6f8f9;
    padding: 30px;
}
/* fine main */


/* article */
article{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 30px;
}
/* fine article */

/* DA RIVEDERE */
/* nav */
nav{
    border: 50px;
}
/* fine nav */

/* buttom */
.button {
    background-color: #45abea;
    border-radius: 5px;
    color: white;
    border-color: white;
    height: 30px;
    width: 80px;
    font-size: 10px;
}
/* fine buttom */


/* text */
input{
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border-color: gray;
    font-size: 10px;
}
/* fine text */


/* text-color-blu */
#text-color-blu{
    background-color: #45abea;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
}
/* fine text-color-blu */


/* text-color-violet */
#text-color-violet{
    background-color: #9c72e4;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
}
/* fine text-color-violet */


/* text-color-green */
#text-color-green{
    background-color: #64c0a9;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
}
/* fine text-color-green */


/* text-color-orange */
#text-color-orange{
    background-color: #f6b96b;    ;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
}
/* fine text-color-orange */


/* text-color-pink */
#text-color-pink{
    background-color: #d65a9c;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
}
/* fine text-color-pink */


/* text-color-lightgreen */
#text-color-lightgreen{
    background-color: #b0c926;
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-lightgreen */