/* regola di reset */
*{
    box-sizing: border-box;
}
/* 


/* logo */
.logo{
    vertical-align: middle;
}
/* fine logo */


/* testo logo */
.logo-text{
    display: inline-block;
    font-size: 40px;
    height: 30px;
/* fine testo logo */


/* nav */
nav{
    padding: 0px 0px 20px 0px;
}
/* fine nav */


/* main */
main{
    background-color: lightgray;
    padding: 30px;
}
/* fine main */


/* article */
article{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 30px;
}
/* fine article */

/* DA RIVEDERE */
/* nav */
nav{
    border: 50px;
}
/* fine nav */

/* buttom */
.button {
    background-color: rgb(0, 162, 255);
    border-radius: 5px;
    color: white;
    border-color: white;
    height: 30px;
    width: 80px;
    font-size: 10px;
}
/* fine buttom */


/* text */
input{
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border-color: gray;
    font-size: 10px;: ;
}
/* fine text */

/* text-color-blu */
#text-color-blu{
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-blu */


/* text-color-violet */
#text-color-violet{
    background-color: rgb(102, 0, 255);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-violet */


/* text-color-green */
#text-color-green{
    background-color: rgb(10, 95, 21);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-green */


/* text-color-orange */
#text-color-orange{
    background-color: rgb(207, 75, 9);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-orange */


/* text-color-pink */
#text-color-pink{
    background-color: rgb(223, 47, 182);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-pink */


/* text-color-lightgreen */
#text-color-lightgreen{
    background-color: rgb(103, 223, 47);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
}
/* fine text-color-lightgreen */